
body {
  margin: 0;
  padding: 0;
  background: #95c7d1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);  color: #1E1E1F;*/
  font-family: 'Work Sans', sans-serif;
  color: rgb(255, 255, 255);
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
